.recent-news {
    padding: 80px 0;
    padding-bottom: 120px;
    background-color: var(--color-light);

    @include minitablet {
        padding: 50px 0 50px 0;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__list {
        grid-template-rows: repeat(2, 255px);
        margin-bottom: 80px;

        @include tablet {
            grid-template-rows: initial;
        }

        @include minitablet {
            margin-bottom: 20px;
        }
    }

    &__item {
        grid-column: 5 span;

        &:first-child {
            grid-column: 7 span;
            grid-row: 2 span;

            @include tablet {
                grid-column: 12 span;
                grid-row: 1;
            }

            @include mobile {
                grid-column: 4 span;
            }
        }

        @include tablet {
            grid-column: 12 span;
        }

        @include mobile {
            grid-column: 4 span;
        }
    }

}
