<section class="categories">
    <div class="container">
        <h2 class="title title--center categories__title">Categories</h2>
        <ul class="categories-nav list-reset">

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn categories-nav__btn--active">All News</button>
            </li>

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Company News</button>
            </li>

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Innovation</button>
            </li>

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Industry News</button>
            </li>

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Expert Tips</button>
            </li>

            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Marketing</button>
            </li>

        </ul>

        <ul class="list-reset categories-list grid">

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/recent-article-1.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Industry News</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item"> June 24, 2024</time>
                            <span class="article-meta__item article-meta--comments">4 comments</span>
                        </div>
                        <p class="news-article__descr">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
                    </div>
                </article>
            </li>

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/cat-article-2.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">How Construction Can Help Itself</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Innovation</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item"> June 12, 2023</time>
                            <span class="article-meta__item article-meta--comments">No comments</span>
                        </div>
                        <p class="news-article__descr">
                            Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...
                        </p>
                    </div>
                </article>
            </li>

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/cat-article-3.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">The Difference Between a Digger and an Excavator</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Expert Tips</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item">May 16, 2022</time>
                            <span class="article-meta__item article-meta--comments">7 comments</span>
                        </div>
                        <p class="news-article__descr">Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et nulla lobortis cursus. Viverra erat sollicitudin praesent viverra...</p>
                    </div>
                </article>
            </li>

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/cat-article-4.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">Building Construction Hand Tools</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Expert Tips</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item">February 25, 2021</time>
                            <span class="article-meta__item article-meta--comments">1 comment</span>
                        </div>
                        <p class="news-article__descr">
                            Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id dolor, tristique massa. Fames lobortis orci rutrum bibendum integer...
                        </p>
                    </div>
                </article>
            </li>

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/cat-article-5.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">Top 10 Construction Trends</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Industry News</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item">January 14, 2020</time>
                            <span class="article-meta__item article-meta--comments">No comments</span>
                        </div>
                        <p class="news-article__descr">
                            Dignissim sed enim, eleifend morbi condimentum. Congue id quis vulputate dignissim eget. Ac ullamcorper nunc habitasse enim interdum platea...
                        </p>
                    </div>
                </article>
            </li>

            <li class="categories-list__item">
                <article class="news-article">
                    <a href="post.html" class="news-article__wrapper">
                        <img src="../img/cat-article-6.jpg" alt="Sun pannel" class="news-article__image">
                    </a>
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="post.html" class="news-article__link">Types of Flooring Materials</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                            <a href="post.html" class="article-meta__item">Company News</a>
                            <time datetime="2024-06-24 19:00" class="article-meta__item">December 1, 2019</time>
                            <span class="article-meta__item article-meta--comments">3 comments</span>
                        </div>
                        <p class="news-article__descr">
                            Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et mauris, aenean. Vel arcu amet in sem parturient  integer duis et nulla...
                        </p>
                    </div>
                </article>
            </li>

        </ul>

        <ul class="list-reset categories-pag">

            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link categories-pag__link--active">1</a>
            </li>

            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">2</a>
            </li>

            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">3</a>
            </li>

            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">4</a>
            </li>

            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link" aria-label="next page">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#right-arrow"></use>
                    </svg>
                </a>
            </li>

        </ul>

    </div>
</section>