.clients {
    padding: 184px 0 116px 0;
    background-color: var(--color-light);;

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 102px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__item {
        a {
            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;    
            }
        }
    }
}