<section class="page-hero page-hero--work-inner"> 
    <div class="container">
        <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Homepage</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="work.html" class="breadcrumbs__link">Work</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Modern Cottage</a>
            </li>
        </ul>
        <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">
            Modern Cottage
        </h1>

        <div class="work-images">

            <div class="work-images-slider">

                <button class="btn-reset slider-nav__btn slider-btn work-images__prev">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#left-arrow"></use>
                    </svg>
                </button>
                <button class="btn-reset slider-nav__btn slider-btn work-images__next">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#right-arrow"></use>
                    </svg>
                </button>

                <div class="swiper-wrapper">
    
                    <div class="swiper-slide">
                        <img src="img/work/work-slide-1.webp" alt="Work 1">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/work-slide-2.webp" alt="Work 2">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/work-slide-3.webp" alt="Work 3">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/work-slide-4.webp" alt="Work 4">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/work-slide-5.webp" alt="Work 5">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/work-slide-6.webp" alt="Work 6">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/work-slide-6.webp" alt="Work 7">
                    </div>
    
                </div>
                
            </div>

            <div class="work-images-nav">
                <div class="swiper-wrapper">
    
                    <div class="swiper-slide">
                        <img src="img/work/small-slide-1.jpg" alt="ork 1">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/small-slide-2.jpg" alt="ork 2">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/small-slide-3.jpg" alt="ork 3">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/small-slide-4.jpg" alt="ork 1">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/small-slide-5.jpg" alt="ork 2">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="img/work/small-slide-6.jpg" alt="ork 3">
                    </div>

                    <div class="swiper-slide">
                        <img src="img/work/small-slide-7.jpg" alt="ork 3">
                    </div>
    
                </div>
            </div>

        </div>

    </div>
</section>