<section class="history">
    <div class="container">

        <div class="history__top">
            <h2 class="title history__title">Our history</h2>
            <div class="slider-nav history__slider-nav">
                <button class="btn-reset slider-nav__btn slider-btn history__prev">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#left-arrow"></use>
                    </svg>
                </button>
                <button class="btn-reset slider-nav__btn slider-btn history__next">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#right-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="history__content grid">
            <ul class="list-reset history-nav">
                <li class="history-nav__item">
                    <button class="history-nav__btn history-nav__btn--active btn-reset">Present</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">March 2023</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">November 2021</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">July 2019</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">August 2018</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">February 20016</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">May 2014</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">October 2010</button>
                </li>

                <li class="history-nav__item">
                    <button class="history-nav__btn btn-reset">June 2008</button>
                </li>
            </ul>

            <div class="history__item history-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="img/history-01.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-02.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-03.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-04.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-05.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-06.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-07.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-08.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                    <div class="swiper-slide">
                        <img src="img/history-09.jpg" alt="History image" class="history__image">
                        <p class="history__descr">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>