.services {
    position: relative;
    overflow: hidden;
    background-color: var(--color-light);
    padding-top: 120px;
    padding-bottom: 183px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 40px;
    }

        &-decorate-1 {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &-decorate-2 {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &__list {
            position: relative;
            z-index: 5;
        }


    &__item {
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 117px;

            @include minitablet {
                margin-bottom: 40px;
            }
        }

        &--reverse {
            .services__info {
                padding-left: 0;
                order: -1;

                @include mobile {
                    order: initial;
                }
            }

            .services__image {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__image {
        grid-column: 6 span;
    }

    &__info {
        grid-column: 6 span;
        padding: 20px 24px;

        @include mobile {
            padding-left: 0;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: var(--color-ebony);
    }

    &__descr {
        margin: 0;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
    }

    &__link {
        padding: 11px 27px;
        letter-spacing: normal;
    }
}