.project-goal {

    .grid {
        @include minitablet {
            display: block;
        }
    }

    &__container {
        padding-top: 30px;
        padding-bottom: 120px;

        @include minitablet {
            padding-bottom: 40px;
        }
    }

    &__left {
        grid-column: 6 span;
        padding-top: 24px;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        grid-column: 6 span;

        @include minitablet {
            justify-content: flex-start;
        }
        
    }

    &__title {
        margin-bottom: 41px;
    }

    &__descr {
        margin: 0;
        margin-bottom: 27px;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-gray);
    }
}

.project-info {
    padding: 25px 58px;
    padding-right: 40px;
    width: 495px;
    min-height: 300px;
    border-radius: 4px;
    box-shadow: var(--main-shadow);
    background-color: var(--color-light);

    @include mobile {
        width: auto;
        max-width: 495px;
        padding: 10px 0;
    }

    &__item {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__category {
        width: 130px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--color-ebony);
        flex-shrink: 0;
    }

    &__value {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
    }
}