<section class="related related--work-inner">
    <div class="container">
        <div class="related__top">
        <h2 class="title related__title">Related projects</h2>
            <div class="slider-nav related__slider-nav">
                <button class="btn-reset slider-nav__btn slider-btn related__prev">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#left-arrow"></use>
                    </svg>
                </button>
                <button class="btn-reset slider-nav__btn slider-btn related__next">
                    <svg aria-hidden="true">
                        <use xlink:href="img/sprite.svg#right-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="swiper related__items swiper-no-swiping">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <a href="work-inner.html" class="portfolio-item" data-target="design">
                    <img class="portfolio-item__image" src="img/portfolio-5.jpg" alt="Portfolio Cover">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Bedroom With Decorations</h3>
                        <span class="portfolio-item__descr">Apartments & flats</span>
                        <div class="portfolio-item__btn btn--stroke btn--stroke-primary">View Project</div>
                    </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="work-inner.html" class="portfolio-item" data-target="dev">
                    <img class="portfolio-item__image" src="img/portfolio-3.jpg" alt="Portfolio Cover">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Luxury Beach House</h3>
                        <span class="portfolio-item__descr">Private houses</span>
                        <div class="portfolio-item__btn btn--stroke btn--stroke-primary">View Project</div>
                    </div>
                </a>
              </div>  

              <div class="swiper-slide">
                <a href="work-inner.html" class="portfolio-item" data-target="design">
                    <img class="portfolio-item__image" src="img/portfolio-4.jpg" alt="Portfolio Cover">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
                        <span class="portfolio-item__descr">Apartments & flats</span>
                        <div class="portfolio-item__btn btn--stroke btn--stroke-primary">View Project</div>
                    </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="work-inner.html" class="portfolio-item" data-target="repair">
                    <img class="portfolio-item__image" src="img/portfolio-13.jpg" alt="Portfolio Cover">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Comfort Mansion</h3>
                        <span class="portfolio-item__descr">Private houses</span>
                        <div class="portfolio-item__btn btn--stroke btn--stroke-primary">View Project</div>
                    </div>
                </a>
              </div>
              
              <div class="swiper-slide">
                <a href="work-inner.html" class="portfolio-item" data-target="repair">
                    <img class="portfolio-item__image" src="img/portfolio-2.jpg" alt="Portfolio Cover">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Modern Cottage</h3>
                        <span class="portfolio-item__descr">Private houses</span>
                        <div class="portfolio-item__btn btn--stroke btn--stroke-primary">View Project</div>
                    </div>
                </a>
              </div>
              
            </div>
        </div>

        <div class="related__learn learn-more">
            <h4 class="learn-more__subtitle">Explore all our works</h4>
            <a href="work.html" class="btn-reset learn-more__btn btn btn--fill">View Portfolio</a>
        </div>

    </div>
</section>