<section class="facts">
    <div class="container">
        <h2 class="title title--center facts__title">Some facts and figures</h2>
        <ul class="list-reset facts__list">

            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle facts-element__circle--one-color" data-percent="98">
                        <svg class="" viewBox="-10 -10 320 320" >
                            <circle class="progress-bg" cx="148" cy="148" r="150" fill="none" stroke-width="12"/>

                            <circle class="progress" cx="150" cy="150" r="150" fill="none" stroke-width="12" stroke-dasharray="929.91" stroke-dashoffset="30"/>
                          </svg>
                        <div class="facts-element__value">98%</div>
                    </div>
                    <span class="facts-element__text">Totally satisfied clients</span>
                </div>
            </li>

            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle facts-element__circle--two-color">
                        <svg class="" viewBox="-10 -10 320 320" >
                            <circle class="progress-bg" cx="148" cy="148" r="150" fill="none" stroke-width="12"/>

                            <circle class="progress" cx="150" cy="150" r="150" fill="none" stroke-width="12" stroke-dasharray="929.91" stroke-dashoffset="200"/>
                          </svg>
                        <div class="facts-element__value">20</div>
                    </div>
                    <span class="facts-element__text">Years of expirience</span>
                </div>
            </li>

            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle facts-element__circle--three-color">
                        <svg class="" viewBox="-10 -10 320 320" >
                            <circle class="progress-bg" cx="148" cy="148" r="150" fill="none" stroke-width="12"/>

                            <circle class="progress" cx="150" cy="150" r="150" fill="none" stroke-width="12" stroke-dasharray="929.91" stroke-dashoffset="100"/>
                          </svg>
                        <div class="facts-element__value">9452</div>
                    </div>
                    <span class="facts-element__text">Working hours spent</span>
                </div>
            </li>

            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle facts-element__circle--four-color">
                        <svg class="" viewBox="-10 -10 320 320" >
                            <circle class="progress-bg" cx="148" cy="148" r="150" fill="none" stroke-width="12"/>

                            <circle class="progress" cx="150" cy="150" r="150" fill="none" stroke-width="12" stroke-dasharray="950" stroke-dashoffset=""/>
                          </svg>
                        <div class="facts-element__value">100%</div>
                    </div>
                    <span class="facts-element__text">Succeeded projects</span>
                </div>
            </li>

        </ul>
    </div>
</section>