<section class="hero">
    <div class="hero-slider">
      <button class="btn-reset slider-nav__btn hero__prev slider-btn">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset slider-nav__btn hero__next slider-btn">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="hero-slide hero-slide--first">

                </div>
            </div>

            <div class="swiper-slide">
                <div class="hero-slide hero-slide--second">

                </div>
            </div>

            <div class="swiper-slide">
                <div class="hero-slide hero-slide--third">

                </div>
            </div>

            <div class="swiper-slide">
                <div class="hero-slide hero-slide--fourth">

                </div>
            </div>

        </div>

        <div class="hero__content" data-aos="fade-zoom-in">
            <div class="hero__wrapper">
                <h1 class="main-title main-title--home">Cran<span>Ex</span> Construction</h1>
                <p class="main-descr main-descr--home">
                    Are you looking for a reliable construction company to make your dream come true? Cranex Construction Bureau is your best choice.
                </p>
                <div class="hero__btns">
                <button class="btn-reset btn btn--stroke btn--stroke-light">Learn more about us</button>
                <button class="btn-reset btn btn--fill">Submit Request</button>
                </div>
            </div>
            
            <div class="swiper-pagination hero__pag"></div>

        </div>


    </div>
  
</section>